<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body class="login-body">

    <form action="/users/login" method="post" class="login-form">
        <h2 class="login-title">Iniciar Sesión</h2>

        {% if message %}
            {% set is_logout = 'cerrada' in message or 'cerró' in message %}
            {% set is_success = 'exitoso' in message or 'correctamente' in message %}
            <div data-alert class="alert-message {{ 'alert-success' if is_success or is_logout else 'alert-error' }}">
            {{ message }}
            </div>
        {% endif %}


        <div class="form-group">
            <input type="email" name="email" placeholder="Correo" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="btn btn-primary">
            Ingresar
        </button>

        <p class="form-text">
            ¿No tienes cuenta?
            <a href="/users/register" class="link">Regístrate</a>
        </p>
    </form>

    <script>
        setTimeout(() => {
            const alertBox = document.querySelector('[data-alert]');
            if (alertBox) {
                alertBox.style.opacity = '0';
                setTimeout(() => alertBox.remove(), 500); // lo elimina del DOM después de desvanecerse
            }
        }, 3000); // 3 segundos
    </script>

</body>
</html>